/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300&family=Playfair+Display:ital@0;1&display=swap');

/* Wildcard selector to ensure override of default browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: black;
}

h1 {
    color: #C1B7CC;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 200%;
    letter-spacing: 5px;
    padding-left: 10px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150%;
    letter-spacing: 4px;
    padding: 10px;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100%;
    letter-spacing: 4px;
    padding: 10px;
}

p {
    font-size: 50%;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    padding: 10px;
    background: rgb(30, 29, 53);
    background: linear-gradient(0deg, rgba(30, 29, 53, 1) 19%, rgba(9, 11, 9, 1) 66%);
    box-shadow: 0 3px 3px #C1B7CC;
    position: fixed;
}

header a {
    color: #C1B7CC;
    word-spacing: 2px;
    padding-right: 10px;
}

#menu {
    font-size: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 10px;
}

/* Nav-bar Styling */
nav {
    position: absolute;
    background: rgb(9, 11, 9);
    background: linear-gradient(0deg, rgba(9, 11, 9, 1) 19%, rgba(30, 29, 53, 1) 66%);
    border-style: none;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
}

#nav-icon {
    color: #C1B7CC;
}

#nav-dial:checked~nav {
    display: block;
}

#nav-dial {
    display: none;
}

#nav-dial-label {
    font-size: 2em;
}

/* Main Content Styling */

main {
    flex: 1 0 auto; 
    margin-top: 55px;
}

.background-image {
    background-color: #C1B7CC;
    background: no-repeat center center/cover url("../images/ryan-hutton-Jztmx9yqjBw-unsplash.webp");
    margin-top: 0px;
    height: 100vh;
    width: 100%;
}

.background-overlay {
    background-color: rgba(255,255,255,0.4);
    width: inherit;
    height: inherit;
}

.intro-text > h2, h3 {
    color: #041120;
    text-shadow: #836E9A 1px 0 10px;
    z-index: 98;
    text-align: center;
}

/* Footer Styling */

footer {
    position: sticky;
    bottom: 0px;
    box-shadow: 0px -3px 3px #C1B7CC;
}

li > a {
    color: #C1B7CC;
}

#social-media-links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(9, 11, 9);
    background: linear-gradient(0deg, rgba(9, 11, 9, 1) 19%, rgba(30, 29, 53, 1) 66%);

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header Responsivity */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        background: none;
    }
    
    #menu {
        display: flex;
        flex-basis: auto;
        align-items: baseline;
    }

    #menu > li {
        padding-top: 10px;
    }

    .nav-dial-label {
        display: none;
    }

    /* Main Content */
    main {
    padding-top: 62px;
    margin-top: 0px;
}
}
