/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300&family=Sevillana&display=swap');

/* Wildcard selector to ensure override of default browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: black;
}

h1 {
    color: #C1B7CC;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 200%;
    letter-spacing: 5px;
    padding-left: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    letter-spacing: 4px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    letter-spacing: 4px;
    padding: 10px;
}

p {
    font-size: 50%;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    padding: 10px;
    background: rgb(30, 29, 53);
    background: linear-gradient(0deg, rgba(30, 29, 53, 1) 19%, rgba(9, 11, 9, 1) 66%);
    box-shadow: 0 3px 3px #C1B7CC;
    position: fixed;
}

header a {
    color: #C1B7CC;
    word-spacing: 2px;
    padding-right: 10px;
}

#menu {
    font-size: 100%;
    padding-left: 20px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 10px;
}

/* Nav-bar Styling */
nav {
    position: absolute;
    background: rgb(9, 11, 9);
    background: linear-gradient(0deg, rgba(9, 11, 9, 1) 19%, rgba(30, 29, 53, 1) 66%);
    border-style: none;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
}

#nav-icon {
    color: #C1B7CC;
}

#nav-dial:checked~nav {
    display: block;
}

#nav-dial {
    display: none;
}

#nav-dial-label {
    font-size: 2em;
}

/* Main Content Styling */

#main {
    flex: 1 0 auto;
}

#content-container {
    margin-top: 55px;
}

/* Section 1 */

.background-image {
    background-color: #C1B7CC;
    background: no-repeat center center/cover url("../images/ryan-hutton-Jztmx9yqjBw-unsplash.webp");
    height: 375px;
    width: 100%;
    border-bottom: solid #1E1D35;
}

.background-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    width: inherit;
    height: inherit;
    padding-top: 5px;
}

.intro-text {
    padding-top: 10px;
}

/* Sub-section 1-a */
.intro-text>h2 {
    font-size: 134%;
    color: #041120;
    text-shadow: #C1B7CC -2px 0 5px;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}

.intro-text>h3 {
    font-size: 115%;
    color: #041120;
    text-shadow: #c0c0c0 -2px 0 5px;
    font-family: 'Sevillana', sans-serif;
    font-weight: 300px;
    padding: 10px;
    text-align: center;
}

/* Sub-section 1-b */
#intro-left-align>h2 {
    text-align: left;
}

/* Sub-section 1-c */
#intro-right-align>h2 {
    text-align: right;
}

/* Section 2 */
.interested-background {
    background-color: #C1B7CC;
    background: no-repeat center center/cover url("../images/nechama-lock-dhYpO4DVEcc-unsplash.webp");
    height: 60px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    border-bottom: solid #1E1D35;
}

.interested-text>h2 {
    color: #041120;
    text-shadow: #60435D -2px 0 10px;
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
    text-transform: uppercase;
}

/* Section 3 */
.dates-background {
    background-color: #C1B7CC;
    background: no-repeat center center/cover url("../images/ryan-hutton-Jztmx9yqjBw-unsplash-inverted.webp");
    height: 125px;
    width: 100%;
    margin-top: 0px;
}

.dates-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    height: inherit;
    width: inherit;
}

.dates-text {
    color: #041120;
    text-shadow: #C1B7CC -2px 0 5px;
    text-align: center;
    font-size: 63%;
    font-weight: 900px;
    padding: 10px;
}

/* Footer Styling */
footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    box-shadow: 0px -3px 3px #C1B7CC;
}

li>a {
    color: #C1B7CC;
}

#social-media-links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(9, 11, 9);
    background: linear-gradient(0deg, rgba(9, 11, 9, 1) 19%, rgba(30, 29, 53, 1) 66%);

}

/* Media query: small devices (375px and less) */
@media only screen and (max-width: 375px) {}

/* Media query: small to medium devices (425px to 767px) */
@media only screen and (min-width: 425px) and (max-width: 767px) {}

/* Media query: medium to large devices (768px and above) */
@media only screen and (min-width: 768px) {

    /* Header Responsivity */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        background: none;
    }

    .nav-dial-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-top: 10px;
    }

    .content-outline {
        margin: auto;
    }

}